services:
  # Backend API Service
  - type: web
    name: sweet-shop-api
    runtime: docker
    dockerfilePath: ./backend/Dockerfile
    dockerContext: ./backend
    region: singapore
    plan: free
    envVars:
      - key: SPRING_DATASOURCE_URL
        value: jdbc:postgresql://dpg-d4utt0vpm1nc73bd7hn0-a:5432/sweet_shop_db_uqxq
      - key: SPRING_DATASOURCE_USERNAME
        value: sweet_shop_db_uqxq_user
      - key: SPRING_DATASOURCE_PASSWORD
        value: ZrLS0Kr6wRIOANlf3mUUvXCtXjZuQmaw
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_EXPIRATION
        value: "86400000"
      - key: SPRING_PROFILES_ACTIVE
        value: "prod"
      - key: ALLOWED_ORIGINS
        value: "*"
    healthCheckPath: /api/sweets

databases:
  - name: sweet-shop-db
    databaseName: sweet_shop_db_uqxq
    plan: free
